/* 代理店左侧菜单样式 */
body {
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', '黑体', 'Arial', 'sans-serif';
  background-color: #ffffff;
}
/*将页面分成两列 */
.column_container {
  width: 100%;
  height: 100%;
  padding-left: 300px;
  background-color: #fff;
}
.column_container .menu_div {
  width: 300px;
  height: 100%;
  background-color: #fff;
  margin-left: -300px;
  float: left;
  border-right: solid 1px ;
  border-right-color: #6eb9ff;
}
.column_container .menu_div .title {
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  color: #fff;
  background-color: #685dff;
  text-align: center;
}
.column_container .menu_div .content .subTitle {
  background-color: #e3e3ff;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #1c1c20;
}
.column_container .menu_div .content .threeTitle {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #1c1c20;
}
/* 左侧菜单样式 */
ul.list_item {
  margin-bottom: 0;
  display: block;
  box-shadow: none;
  cursor: pointer;
}
ul.list_item li {
  list-style: none;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #6eb9ff;
  border-left: 1px solid #6eb9ff;
}
ul.list_item li:hover {
  background-color: #E3F3FE;
}
ul.list_item li div {
  font-size: 14px;
  color: #050505;
  display: inline-block;
  padding-left: 30px;
}
ul.list_item li.taskListSelect {
  background-color: #E3F3FE;
}
ul.list_item .taskListNum {
  float: right;
  margin-right: 20px;
}
